@import './../variables';

.taxesWrapper{
    width: $containerWidth;
    margin: 0 auto;
    padding-top: 77px;
    padding-bottom: 100px;
    h1{
        display: flex;
        width: 100%;
        border-bottom: 1px solid #B3A99F;
        margin-bottom: 40px;
        img{
            margin: 0 auto;
            padding: 26px 0 30px;
            width: 219px;
            height: 60px;
        }
    }
    .taxesCardsWrapper{
        display: flex;
        flex-wrap: wrap;
    } 
}