@import './../variables';

.taxesCard{
    position: relative;
    height: 254px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 23px 30px 17px 30px;
    box-sizing: border-box;
    font-family: $font;
    transition: 0.5s;
    text-decoration: none;
    .illustration{
        top: 0;
        bottom: 0;
        left:0;
        right:0;
        margin: auto;
        position: absolute;
        max-width: 55px;
    }
    .taxesCardTagsWrapper{
        display: flex;
        justify-content: space-between;
        .taxesCardTag{
            opacity: 0.3;
            display: flex;
            align-items: center;
            font-size: 16px;
            img{
                display: block;
            }
            span{
                text-decoration: none;
                color: black;
                margin-left: 7px;
                font-weight: 500;
            }
        }
    }
    h2{
        text-align: center;
        font-size: 22px;
        line-height: 29px;
        text-transform: uppercase;
        text-decoration: none;
                color: black;
    }
}